h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
input{
  padding: 10px;
  font-size: 1.2em;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 5px;
}
button{
  font-size: 1.2em;
text-transform: uppercase;
  padding: 10px;
  background: #3ecf8e;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin: 5px;
  cursor: pointer;
  transition: .2s all;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px 0px, rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
  &:hover{
    background: darken(#3ecf8e, 10%);
  }
}
